<div class="background py-5 px-2">
  <div class="py-5">
    <p class="pt-5 mt-5 text-white font-weight-bold display-3 text-center">Ballot Management System</p>
    <p class="text-white h6 text-center py-1">Your voters can vote from any location on any device</p>
    <div class="d-flex justify-content-center">
      <button class="btn btn-ballot btn-lg border-0 px-5" (click)="start()" >Create a free election</button>
    </div>
  </div>
  <p class="text-white bms-text h6 px-2">BMS &copy; 2023</p>
</div>
