.background {
  background-color: #041422;
  background-size: cover;
  height: 100vh;
}
.btn-ballot {
  background-color: #4F9A2A;
  color: white !important
}
.bms-text {
  position: absolute;
  bottom: 0;
}
