<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav bg-ballot-match text-white" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="text-white">Menu</mat-toolbar>
    <mat-nav-list>
      <a routerLink="/account/dashboard" mat-list-item routerLinkActive="active" class="text-white">Overview</a>
      <a routerLink="/account/ballot" mat-list-item routerLinkActive="active" class="text-white">Ballot</a>
      <a routerLink="/account/voters" mat-list-item routerLinkActive="active" class="text-white">Voters</a>
      <a routerLink="/account/launch" mat-list-item routerLinkActive="active" class="text-white">Launch</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="bg-ballot">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Ballot Management System</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
