/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
}
 @font-face {
  font-family: satoshi;
  src: url('../src/assets/fonts/OTF/Satoshi-Regular.otf');
}
.btn-ballot {
  background-color: #4F9A2A;
  color: white !important
}
.text-ballot {
  color: #4F9A2A !important
}
