/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
}
 @font-face {
  font-family: satoshi;
  src: url('../src/assets/fonts/OTF/Satoshi-Regular.otf');
}
.btn-ballot {
  background-color: #4F9A2A;
  color: white !important
}
.text-ballot {
  color: #4F9A2A !important
}
.bg-ballot {
  background-color: #4F9A2A;
  color: white !important;
}
.bg-ballot-match{
  background-color: #041422;
  color: white !important;
}
.btn-ballot-match{
  background-color: #041422;
  color: #4F9A2A !important;
}
.display-5 {
  font-size: large;
  font-weight: bold;
}
